<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Property Manager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="account" Match="NavLinkMatch.All">
                <span class="oi oi-grid-three-up"></span> Account
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="properties">
                <span class="oi oi-home" aria-hidden="true"></span> Properties
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tickets">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tickets <span class="badge">4</span>
                @*TODO: INSERT THE DYNAMIC AMOUNT OF TICKETS INSIDE THE BADGE *@
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tenants">
                <span class="oi oi-people"></span> Tenants
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}