html, body{
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3{
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
}

.pie-chart{
    min-width: 60%;
    
}

/*Utilities*/
.center{
    text-align: center;
}



/*
Login Page
*/

.welcome-back{
    text-align: center;
    margin-bottom: 20%;
}

.welcome-back > .profile-img{
    width: 30%;
    margin-top:100px;
}

.welcome{
    font-family: "Arial Black", serif;
    font-weight: 800;
    margin-bottom: 0;
}

.profile-img{
    opacity: 0.2;
}

.form-control{
    margin-bottom: 20px;
    width: 100%;
}

input.form-control:focus{
    color: #29b86c;
    font-weight: bold;
}

.forgot-password{
    text-align: right;
    color: #29b86c;
    margin-bottom: 60px;
}

.login-btn{
    width: 100%;
    background-color: #29b86c;
    color: white;
    letter-spacing: 1px;
}

.subtitle-container{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.subtitle-login{
    padding: 0 20px;
    font-size: 14px;;
}

.subtitle-login > a{
    color: #29b86c;
}


.title-area{
    margin: 55px auto;
    text-align: center;
}

.login-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    height: 100vh;
}

input:hover{
    box-shadow: #29b86c 0 0 4px;
}


@media screen and (max-width: 625px){
    .pie-chart{
        width: 90%;
    }
}

/*
Create New Account Page
*/

.fname{
    padding: 0 20px 0 0;
}
.lname{
    padding: 0;
}