.page[b-b9lp3a7z8o] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-b9lp3a7z8o] {
    flex: 1;
}

.sidebar[b-b9lp3a7z8o] {
    /*background: #f85032;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #e73827, #f85032);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #e73827, #f85032); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    background-image: linear-gradient(
            -25deg, #22E1FF 5%, #1D8FE1 45%, #625EB1 118%);
}

.top-row[b-b9lp3a7z8o] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-b9lp3a7z8o]  a, .top-row .btn-link[b-b9lp3a7z8o] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-b9lp3a7z8o] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-b9lp3a7z8o] {
        display: none;
    }

    .top-row.auth[b-b9lp3a7z8o] {
        justify-content: space-between;
    }

    .top-row a[b-b9lp3a7z8o], .top-row .btn-link[b-b9lp3a7z8o] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-b9lp3a7z8o] {
        flex-direction: row;
    }

    .sidebar[b-b9lp3a7z8o] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-b9lp3a7z8o] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-b9lp3a7z8o] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
