.card-2[b-l3g6tw8kae]{
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    border-radius: 20px;
    margin: 30px 20px 0 -2px;
    padding: 20px;
    min-height: 200px;
}

.card-holder[b-l3g6tw8kae]{
    display: inline-flex;
    
}