.weather[b-0xltxtfqw5]{
    width: 100%;
    background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
    border-radius: 20px;
    padding: 20px;
}

.weather-icon[b-0xltxtfqw5]{
    width: 40px;
    margin-bottom: 10px;
}

.weather-subtitle[b-0xltxtfqw5]{
    color: #cbc8c8;
    position: relative;
    top: 20px;
    text-shadow: #333333 0 0 10px;
}

.weather > .col-4[b-0xltxtfqw5]{
    text-align: right;
}

.weather-status[b-0xltxtfqw5]{
    color: aliceblue;
    font-weight: 700;
}

.weather-city[b-0xltxtfqw5]{
    color: aliceblue;
    font-weight: 700;
}