<div class="card">
    <h5 class="card-header">@CardSection</h5>
    <div class="card-body">
        <div class="col-4">
            <img class="card-image" src="@HomeImage" alt="Image of property">
        </div>
        <col-8>
            <h5 class="card-title">@Address</h5>
            <p class="card-text">@MaintenanceIssue</p>
            <a href="#" class="btn btn-primary">View Ticket</a>
        </col-8>

    </div>
</div>

@code {

    [Parameter]
    public string CardSection { get; set; }

    [Parameter]
    public string Address { get; set; }

    [Parameter]
    public string MaintenanceIssue { get; set; }

    [Parameter]
    public string HomeImage { get; set; }

}