<table class="greyGridTable">
    <thead>
    <tr>
        <th>
            <span style="color: #333333;">
                <span style="font-size: 13px; font-weight: 400;">&nbsp;Property</span>
            </span>
        </th>
        <th>
            <span style="color: #333333;">
                <span style="font-size: 13px; font-weight: 400;">Income</span>
            </span>
        </th>
        <th>
            <span style="color: #333333;">
                <span style="font-size: 13px; font-weight: 400;">Expenses</span>
            </span>
        </th>
        <th>
            <span style="color: #333333;">
                <span style="font-size: 13px; font-weight: 400;">Profit/Loss</span>
            </span>
        </th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="4">
            <div class="links">
                <span style="color: #333333;">
                    <span style="font-size: 13px; font-weight: 400;">&nbsp;</span>
                </span>
            </div>
        </td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
        <td>447 San Diego Rd</td>
        <td>$5,000</td>
        <td>$1,000</td>
        <td>$4,000</td>
    </tr>
    <tr>
        <td>447 San Diego Rd</td>
        <td>$5,000</td>
        <td>$1,000</td>
        <td>$4,000</td>
    </tr>
    <tr>
        <td>447 San Diego Rd</td>
        <td>$5,000</td>
        <td>$1,000</td>
        <td>$4,000</td>
    </tr>
    <tr>
        <td>447 San Diego Rd</td>
        <td>$5,000</td>
        <td>$1,000</td>
        <td>$4,000</td>
    </tr>
    </tbody>
</table>