@layout LoginLayout


@page "/"

<div class="login-section">

    <div class="col-6 login-logo">
        <img class="" src="/assets/images/PropMan2.png" alt="">
    </div>
    <div class="col-6 login-area">
        <div class="card shadow login-container">
            <form class="login-form" action="">
            
                        <input class="form-control" id="username" type="text" placeholder="Username">
                        <input class="form-control" id="password" type="password" placeholder="Password">
            
                       <a href="#"> <button class="btn-link login-btn">SIGN IN</button></a>
                       <a href="create-user"> <button class="btn-link sign-up-btn">
                                                   SIGN UP
                                               </button></a>
                    </form>
        </div>

    </div>
</div>