@layout LoginLayout
@page "/create-user"


<div class="login-section">

    <div class="col-6 login-logo">
        <img class="" src="/assets/images/PropMan2.png" alt="">
    </div>
    <div class="col-6">
        <form class="login-area" action="">
                            <input type="text" class="form-control" placeholder="First Name">
                <input type="text" class="form-control" placeholder="Last Name">
<input type="text" class="form-control" placeholder="📧 Email">
            <input type="text" class="form-control" placeholder="📱  Phone">
            <input type="password" class="form-control" placeholder="🔒 Password">
            <input type="password" class="form-control" placeholder="Comfirm Password">

                           <a href="create-user"> <button class="btn-link sign-up-btn">
                                SIGN UP
                            </button></a>
                            <div class="subtitle-container">
                                        <p class="subtitle-login">Already have an account? <a href="/">Login</a></p>
                                    </div>
        </form>
    </div>
</div>


