.btn-link{
    width: 200px;
}

.col-12{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-12 > h2 {
    margin-top: 20px;
}

.prop-container{
    display: flex;
    flex-direction: column;
}