@page "/prop"

@inject IPropertyRepo PropRepo;

<div class="row">
    <div class="col-12">
        <h2>Properties</h2>
        <div class="prop-container">
            @if (@properties != null) {
                          foreach (var property in properties)
                          {
                              <PropertyComponent Property="@property"></PropertyComponent>
                          }
                      }
        </div>
    </div>
    
</div>





@code
{
    public IEnumerable<Property> properties { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        properties = await PropRepo.GetAsync();
    }

}