@page "/tickets"

<div class="container">
    <h1 class="center py-4">Tickets</h1>

    <MaintenancePreview CardSection="Maintenance"
                        Address="477 Market St, San Diego CA 92119"
                        MaintenanceIssue="Lightbulb Fixture"
                        HomeImage="/assets/images/home1.png">

    </MaintenancePreview>

    <MaintenancePreview CardSection="Maintenance"
                        Address="955 Apple St, San Diego CA 92108"
                        MaintenanceIssue="Broken wall"
                        HomeImage="/assets/images/home1.png">

    </MaintenancePreview>
</div>