@page "/account"
<div class="container">
    <div class="row">
        <h1 class="py-5 center">Account Overview</h1>
        <hr>
        <div class="col-lg-5">
            <PieChart></PieChart>
        </div>
        <div class="col-lg-7 py-4">
            <OverviewTable></OverviewTable>
        </div>
    </div>
</div>





<div class="container">
    <hr><br>
</div>

<div class="container">
    <MaintenancePreview CardSection="Maintenance"
                        Address="477 Market St, San Diego CA 92119"
                        MaintenanceIssue="Lightbulb Fixture"
                        HomeImage="/assets/images/home1.png">
        
    </MaintenancePreview>
    
    <MaintenancePreview CardSection="Maintenance"
                        Address="955 Apple St, San Diego CA 92108"
                        MaintenanceIssue="Broken wall"
                        HomeImage="/assets/images/home1.png">
        
    </MaintenancePreview>
</div>

@code {
    
}