@page "/"

<div class="container">
    <div class="welcome-back">
        <img class="profile-img" src="assets/images/profile-img.png" alt="">
        <h2 class="welcome">Welcome Back</h2>
        <subtitle>Sign in to Continue</subtitle>
    </div>


    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Email">
            <input type="text" class="form-control" placeholder="Password">
        </div>
    </div>
</div>