/* _content/PropertyManager/Components/MaintenancePreview.razor.rz.scp.css */
.card[b-e4y2wzuglw]{
    margin-bottom: 1rem;
}
.card-image[b-e4y2wzuglw]{
    width: 80%;
    
}
.card-body[b-e4y2wzuglw]{
    display: flex;
}
/* _content/PropertyManager/Components/OverviewTable.razor.rz.scp.css */

.greyGridTable[b-v4tk0dvk5k] {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.greyGridTable td[b-v4tk0dvk5k], table.greyGridTable th[b-v4tk0dvk5k] {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
}
.greyGridTable tbody td[b-v4tk0dvk5k] {
    font-size: 13px;
}
.greyGridTable td:nth-child(even)[b-v4tk0dvk5k] {
    background: #EBEBEB;
}
.greyGridTable thead[b-v4tk0dvk5k] {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
}
.greyGridTable thead th[b-v4tk0dvk5k] {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}
.greyGridTable thead th:first-child[b-v4tk0dvk5k] {
    border-left: none;
}

.greyGridTable tfoot[b-v4tk0dvk5k] {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
}
.greyGridTable tfoot td[b-v4tk0dvk5k] {
    font-size: 14px;
}
/* _content/PropertyManager/Components/PieChart.razor.rz.scp.css */
.pie-chart[b-um2lex6ikz]{
    width: 100%;
}
/* _content/PropertyManager/Components/Property.razor.rz.scp.css */
.card[b-lkzmr6wuyx]{
    display: inline-flex;
    margin: 20px 30px;
}



@media screen and (max-width: 641px) {
    .card[b-lkzmr6wuyx]{
        display: contents;
    }
}
/* _content/PropertyManager/Shared/MainLayout.razor.rz.scp.css */
.page[b-p0qfdt20ax] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-p0qfdt20ax] {
    flex: 1;
}

.sidebar[b-p0qfdt20ax] {
    /*background: #f85032;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #e73827, #f85032);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #e73827, #f85032); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    background-image: linear-gradient(
            -25deg, #22E1FF 5%, #1D8FE1 45%, #625EB1 118%);
}

.top-row[b-p0qfdt20ax] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-p0qfdt20ax]  a, .top-row .btn-link[b-p0qfdt20ax] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-p0qfdt20ax] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-p0qfdt20ax] {
        display: none;
    }

    .top-row.auth[b-p0qfdt20ax] {
        justify-content: space-between;
    }

    .top-row a[b-p0qfdt20ax], .top-row .btn-link[b-p0qfdt20ax] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-p0qfdt20ax] {
        flex-direction: row;
    }

    .sidebar[b-p0qfdt20ax] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-p0qfdt20ax] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-p0qfdt20ax] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/PropertyManager/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-z52aacjh8w] {
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}

.top-row[b-z52aacjh8w] {
    height: 3.5rem;
    background-color: #2c2c30;
;

}

.navbar-brand[b-z52aacjh8w] {
    font-size: 1.1rem;
    margin: 0 auto;
}

.oi[b-z52aacjh8w] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
    color: #2c2c30;
}

.badge[b-z52aacjh8w]{
    font-size: 1rem;
    background-color: gold;
    color: black;
    border-radius: 10px;
    margin-left: auto;
}



.nav-item[b-z52aacjh8w] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-z52aacjh8w] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-z52aacjh8w] {
        padding-bottom: 1rem;
    }

    .nav-item[b-z52aacjh8w]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-z52aacjh8w]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-z52aacjh8w]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-z52aacjh8w] {
        display: none;
    }

    .collapse[b-z52aacjh8w] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
