<div class="container">
    <div class="row">
        <h2 class="property-title">Total Profit/Cost</h2>
        <hr>
        <div class="col-lg-5">
            <img class="pie-chart" src="assets/images/pie-chart.png" alt="">
        </div>
        <div class="col-lg-7 py-4">
            <h2 class="">Overview</h2>
            <br>
            <OverviewTable></OverviewTable>
        </div>
    </div>
</div>
