@using PropertyManager.Models

<div class="card-box">
    @foreach (var property in Properties)
    {
        <div class="card property-card">
            <div class="row">
                <div class="col-3">
                    <img class="card-img-top" src="assets/images/home1.png" alt="Card image cap">
                </div>
                <div class="col-9">
                    <div class="card-body">
                        <h4 class="card-title">@property.Address</h4>
                        <p class="property-attribute"><span class="font-weight-bold">Tenant:</span> @property.Tenant.FirstName @property.Tenant.LastName</p>
                        <p class="property-attribute"><span class="font-weight-bold">Phone:</span>  @property.Tenant.PhoneNumber</p>
                        <p class="property-attribute"><span class="font-weight-bold">Rent:</span> $@property.Rent</p>

                    </div>
                </div>


            </div>


        </div>
    }
</div>


@code {

    List<Models.Property> Properties { get; set; } = new List<Models.Property>()
    {
        new Models.Property()
        {
            Address = "1232 xyz st", Rent = 1250, Tenant = new Tenant()
            {
                FirstName = "John",
                LastName = "Doe",
                BirthDate = "11/1/1989",
                Email = "jdoe@gmail.com",
                PhoneNumber = "619-555-5555"
            },
        },
        new Models.Property()
        {
            Address = "4532 adfa way", Rent = 5000, Tenant = new Tenant()
            {
                FirstName = "Sarah",
                LastName = "Ming",
                BirthDate = "11/1/1989",
                Email = "sming@gmail.com",
                PhoneNumber = "619-555-5555"
            },
        },
        new Models.Property()
        {
            Address = "3333 aadde st", Rent = 4000, Tenant = new Tenant()
            {
                FirstName = "Bugs",
                LastName = "Bunny",
                BirthDate = "12/1/1989",
                Email = "bb@gmail.com",
                PhoneNumber = "619-555-5555"
            },
        },
        new Models.Property()
        {
            Address = "3333 aadde st", Rent = 4000, Tenant = new Tenant()
            {
                FirstName = "Bugs",
                LastName = "Bunny",
                BirthDate = "12/1/1989",
                Email = "bb@gmail.com",
                PhoneNumber = "619-555-5555"
            },
        },
        new Models.Property()
        {
            Address = "3333 aadde st", Rent = 4000, Tenant = new Tenant()
            {
                FirstName = "Bugs",
                LastName = "Bunny",
                BirthDate = "12/1/1989",
                Email = "bb@gmail.com",
                PhoneNumber = "619-555-5555"
            },
        },
        new Models.Property()
        {
            Address = "3333 aadde st", Rent = 4000, Tenant = new Tenant()
            {
                FirstName = "Bugs",
                LastName = "Bunny",
                BirthDate = "12/1/1989",
                Email = "bb@gmail.com",
                PhoneNumber = "619-555-5555"
            },
        },
        new Models.Property()
        {
            Address = "3333 aadde st", Rent = 4000, Tenant = new Tenant()
            {
                FirstName = "Bugs",
                LastName = "Bunny",
                BirthDate = "12/1/1989",
                Email = "bb@gmail.com",
                PhoneNumber = "619-555-5555"
            },
        },
    };

}