@using PropertyManager.Repo.Interface
@using System.Net.Http.Json



@inject PropertyService _propertyService;
@inject IHttpClientFactory _clientFactory;
<div class="card-box">
    @if (Properties != null)
    {
        @foreach (var property in Properties)
        {
            <div class="card property-card" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/home1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@property.StreetAddress</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        }
    }
</div>


@code {
    private IEnumerable<PropertyManager.DataModel.Model.Property> Properties { get; set; } = null;
    private string _errorString = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        Properties = await _propertyService.ViewPropertiesAsync();

    }

}