<div class="row card-holder">
    <div class="col-4">
        <div class="card-2">
            <div class="card-heading">$20,103</div>
            <div class="card-title">Profit</div>
            <div class="card-subtitle">May</div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-2">
            <div class="card-heading">$20,103</div>
            <div class="card-title">Profit</div>
            <div class="card-subtitle">May</div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-2">
            <div class="card-heading">$20,103</div>
            <div class="card-title">Profit</div>
            <div class="card-subtitle">May</div>
        </div>
    </div>
</div>