<div class="row weather shadow">
    <div class="col-8">
        <p class="weather-subtitle">Weather Today</p>
        <h3 class="weather-city">San Francisco - 29°</h3>
    </div>
    <div class="col-4">
        <img class="weather-icon" src="assets/images/cloudy.png" alt="">
        <h4 class="weather-status">Partly-Cloudy</h4>
    </div>
</div>